.heading {
  display: grid;
  align-items: start;
}
.heading img {
  justify-self: end;
  cursor: pointer;
}

.title {
  text-align: center;
}
.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
}

.control input,
.control textarea {
  font: inherit;
  font-size: 1.2rem;
  color: #555;
  padding: 0.35rem;
  border: 1px solid #aaa;
  display: block;
  width: 100%;
  outline: none;
  margin-top: 1.2rem;
}
