.user {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  width: 100%;
}
.item {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
}

.info {
  font-size: 1.2rem;
}

@media (max-width: 89em) {
  .user {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 75em) {
  .user {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 44em) {
  .user {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 34em) {
  .user {
    grid-template-columns: 1fr;
  }
}
