.error {
  display: flex;
  justify-content: flex-end;
}
.error img {
  cursor: pointer;
}

.title {
  text-align: center;
  color: red;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.message {
  text-align: center;
  color: rgb(0, 24, 44);
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}
